<!-- <ng-component *ngIf="user"> -->
<div *ngIf="user">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <!-- Ajuste na largura para telas maiores -->
        <!-- Contêiner da Imagem de Perfil -->
        <div class="profile-img-container mb-4">
          <img
            src="assets/profile.png"
            alt="Foto de perfil"
            class="img-fluid rounded-circle profile-image"
          />
        </div>

        <!-- Opções de Edição -->
        <div class="d-flex justify-content-between mb-4">
          <a class="btn btn-secondary btn-profile-option">
            <fa-icon [icon]="['fas', 'edit']"></fa-icon> Editar
          </a>
          <a class="btn btn-secondary btn-profile-option">
            <fa-icon [icon]="['fas', 'lock']"></fa-icon> Senha
          </a>
        </div>

        <!-- Informações do Usuário -->
        <div class="card bg-dark text-white user-info mb-4">
          <div class="card-header">
            <h5>Detalhes</h5>
          </div>
          <div class="card-body">
            <p><strong>Nome:</strong> {{ user.knownAs }}</p>
            <p><strong>Email:</strong> {{ user.username }}</p>
            <!-- Outras informações do usuário -->
          </div>
        </div>

        <!-- Endereços -->
        <div class="card bg-dark text-white addresses mb-4">
          <div class="card-header">
            <h5>Endereços</h5>
          </div>
          <div class="card-body" *ngIf="user.addresses">
            <ul
              class="list-group list-group-flush"
              *ngFor="let userAddress of user.addresses"
            >
              <!-- Exemplo de endereço -->

              <li class="list-group-item bg-dark text-white mb-2">
                {{ userAddress.cep }}, {{ userAddress.uf }},
                {{ userAddress.bairro }}
                <div [ngSwitch]="userAddress.isMain">
                  <span class="badge bg-success" *ngSwitchCase="true">
                    <fa-icon [icon]="['fas', 'star']"></fa-icon> Principal
                  </span>
                  <span class="badge bg-secondary" *ngSwitchCase="false"
                    ><fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                    Externo</span
                  >
                </div>
                <div class="btn-group">
                  <button
                    class="btn btn-sm btn-outline-light"
                    (click)="deleteAddress(userAddress.id)"
                  >
                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                  </button>
                </div>
              </li>

              <!-- Outros endereços aqui -->
            </ul>
            <button
              class="btn btn-light mt-3"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#addressModal"
            >
              <fa-icon [icon]="['fas', 'plus-square']"></fa-icon> Adicionar novo
              endereço
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </ng-component> -->
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addressModal"
  tabindex="-1"
  aria-labelledby="addressModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content dark-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModalLabel">Adicionar Endereço</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body">
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="cep">CEP</label>
            <input
              type="text"
              class="form-control"
              id="cep"
              name="cep"
              [(ngModel)]="address.cep"
            />
          </div>
          <!-- Adicione outros campos do endereço aqui... -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
