<div class="address-container mt-4" *ngIf="user && user.addresses">
  <h2 class="text-center">Confirme seu endereço:</h2>
  <app-user-addresses
    (addressToEdit)="addressEdit($event)"
    (addressToDelete)="deleteAddress($event)"
    [addresses]="user.addresses"
  ></app-user-addresses>
</div>

<div class="checkout-container items-container text-center">
  <h2>Carrinho</h2>
  <div class="cart-details" *ngIf="cartItems$ | async as cartItems">
    <div *ngFor="let item of cartItems" class="cart-item">
      <img
        [src]="item.product.imageUrl"
        alt="{{ item.product.name }}"
        class="product-image"
      />
      <div class="product-info">
        <span class="product-name">
          {{ item.product.name | slice : 0 : 20 }}
          {{ item.product.name.length > 20 ? "..." : "" }}
        </span>

        <div class="quantity-control">
          <button class="quantity-btn" (click)="decreaseQuantity(item)">
            <fa-icon [icon]="['fas', 'minus']"></fa-icon>
          </button>
          <span class="product-quantity">{{ item.quantity }}</span>
          <button class="quantity-btn" (click)="increaseQuantity(item)">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </button>
        </div>
      </div>
      <div class="product-actions">
        <span class="product-price"
          >${{ item.product.price * item.quantity }}</span
        >
        <button class="delete-btn" (click)="deleteItem(item)">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="totalPrice$ | async as totalPrice">
    <div class="total-price">Total Price: ${{ totalPrice }}</div>
  </ng-container>
  <div class="checkout-button-container">
    <button class="checkout-button" (click)="confirmPurchase()">
      Confirmar compra
    </button>
  </div>
</div>
