.dark-modal {
  background-color: #222; /* Mais escuro para um contraste suave */
  color: #eee; /* Um cinza mais claro para o texto */
}

.dark-modal .modal-header,
.dark-modal .modal-body,
.dark-modal .modal-footer {
  border-color: #1c1c1c;
  padding: 15px 20px; /* Mais espaço interno para ventilação */
}

.dark-modal .btn-secondary {
  background-color: #444;
  border-color: #333;
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.dark-modal .btn-secondary:hover {
  background-color: #555;
  border-color: #444;
}

.dark-modal .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.dark-modal .btn-primary:hover {
  background-color: #0056b3;
}

.dark-modal .modal-title {
  color: #fff;
  font-weight: 500; /* Fonte um pouco mais grossa */
}

.dark-modal .btn-close {
  color: #aaa; /* Um cinza para não destacar muito */
  transition: color 0.3s;
}

.dark-modal .btn-close:hover {
  color: #999;
}

.dark-modal input,
.dark-modal input:focus {
  color: black;
  background-color: #555; /* Um pouco mais escuro */
  border-color: #444; /* Cor da borda mais escura */
  border-radius: 5px; /* Bordas arredondadas para uma sensação mais moderna */
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.dark-modal input:focus {
  background-color: #666; /* Um pouco mais claro no foco para destaque */
  border-color: #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Um pequeno brilho para o foco */
}

.dark-modal .input-group {
  gap: 10px; /* Espaço entre elementos */
}

.btn-search {
  background-color: #666;
  color: white;
  border-color: #555;
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.btn-search:hover {
  background-color: #777;
  border-color: #666;
}

.modal-content {
  min-height: 500px;
  border-radius: 10px; /* Adiciona bordas arredondadas para um look moderno */
  overflow: hidden; /* Esconde conteúdo que possa estender as bordas */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para dar profundidade */
}

/* Novo estilo para separação de seções e melhor visualização */
.dark-modal .form-group {
  margin-bottom: 20px;
}

li,
li:focus {
  color: black;
  background-color: #999;
  border-color: #666;
}
