@import "~bootstrap/dist/css/bootstrap.css";

@import "./node_modules/bootstrap/scss/bootstrap";

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "node_modules/ngx-toastr/toastr";

@import "node_modules/font-awesome/css/font-awesome.css";

body {
  background-color: #343a40 !important;
  color: #ffffff;
  zoom: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

select,
input,
.form-group {
  background-color: #999;
}

select:focus,
input:focus,
.form-group:focus {
  background-color: #999;
  outline: none;
  box-shadow: none;
}
