.custom-navbar {
  background-color: #333; // Um cinza escuro. Você pode ajustar conforme sua preferência
  .nav-link {
    color: white;
    &:hover {
      color: #ddd;
    }
  }
}

.logout {
  cursor: pointer;
  color: white;
  &:hover {
    color: #ddd;
  }
}
