<form class="mt-5" [formGroup]="subCategoryForm" (ngSubmit)="onSubmit()">
  <app-form-validation
    [formControl]="$any(subCategoryForm.controls['name'])"
    [label]="'Nome'"
    [type]="'text'"
  ></app-form-validation>

  <app-form-validation
    [formControl]="$any(subCategoryForm.controls['description'])"
    [label]="'Descrição'"
    [type]="'text'"
  ></app-form-validation>

  <div class="form-group categorySelect">
    <select
      class="form-control"
      id="categorySelect"
      formControlName="categoryId"
    >
      <option value="">Selecione Categoria</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.id }} - {{ category.name }}
      </option>
    </select>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="subCategoryForm.invalid"
  >
    Adicionar
  </button>
</form>
