.mt-5 {
  margin-left: 10px;
  margin-right: 10px;
}

.categorySelect {
  margin-bottom: 10px;
}

select:focus,
input:focus,
select,
.form-group:focus {
  background-color: #999;
  outline: none;
  box-shadow: none;
}
