.profile-img-container {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
}
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-dark,
.btn-outline-light {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover,
.btn-outline-light:hover {
  background-color: #23272b;
  border-color: #23272b;
}

.user-info,
.addresses {
  width: 100%;
}

.btn-profile-option {
  flex: 1;
}

.addresses {
  min-height: 250px;
}

.list-group-item {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item .btn-group {
  display: flex;
  gap: 10px;
}

.fa-icon:hover {
  color: #3498db;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.btn-add {
  width: 100%;
  margin-bottom: 15px;
}
