.login-container {
  height: 100vh;
}

.login-form {
  border: solid white;
  width: 300px; // Largura fixa para o formulário de login
  padding: 20px;
  border-radius: 8px;
  background: rgba(34, 34, 34, 0.8); // Fundo semi-transparente

  .form-control {
    border-radius: 0;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

input {
  background-color: #999;
}

select:focus,
input:focus,
.form-group:focus {
  background-color: #999;
  outline: none;
  box-shadow: none;
}
