$background-color: #2e2e2e;
$text-color: #eaeaea;
$hover-color: #444;

.container {
  background-color: #222;
}

// .filters .form-control,
// .product-card,
// .pagination .page-link {
//   background-color: #343a40;
//   color: #ffffff;
// }
.product-card:hover {
  background-color: #495057;
}

.filters {
  display: flex;
  gap: 1rem;

  input,
  select {
    background-color: $background-color;
    border: 1px solid $hover-color;
    color: $text-color;
  }
}

::placeholder {
  color: $text-color;
}

.pagination .page-link {
  background-color: $background-color;
  color: $text-color;
}

.pagination .page-item.active .page-link {
  background-color: $hover-color;
}

.pagination .page-item.disabled .page-link {
  background-color: darken($background-color, 10%);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* Para telas até 768px */
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Para telas até 576px */
@media (max-width: 576px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
