<div class="container p-sm-3 p-md-4 p-lg-5 mt-sm-3 mt-md-4 mt-lg-5">
  <!-- Filtros -->
  <div class="filters mb-3">
    <input
      type="number"
      placeholder="Preço Mínimo"
      class="form-control"
      [(ngModel)]="priceMin"
      min="0"
    />
    <input
      type="number"
      placeholder="Preço Máximo"
      class="form-control"
      [(ngModel)]="priceMax"
      min="0"
    />
    <input
      type="text"
      placeholder="Nome"
      class="form-control"
      [(ngModel)]="productName"
    />
    <select class="form-control" [(ngModel)]="selectedCategory">
      <!-- <option value="">Categoria</option> -->
      <option value="" selected disabled>Categoria</option>
      <option *ngFor="let category of categories" [value]="category.name">
        {{ category.name }}
      </option>
    </select>
    <button class="btn btn-secondary" (click)="onFilter()">Filtrar</button>
  </div>
  <!-- Filtros -->
  <ng-container *ngIf="products">
    <div class="products-grid">
      <div *ngFor="let product of products">
        <app-card-product [product]="product"></app-card-product>
      </div>
    </div>
  </ng-container>

  <!-- Paginação -->
  <nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
      <!-- Adicione os números das páginas aqui -->
      <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
    </ul>
  </nav>
</div>
