<div class="cart rounded">
  <ng-container *ngIf="totalItems$ | async as totalItems">
    <div class="cart-header">
      <strong>Total Items: {{ totalItems }}</strong>
    </div>

    <ng-container *ngIf="totalItems > 0" class="items">
      <div *ngFor="let item of cartItems$ | async" class="item">
        <img
          role="img"
          title="{{ item.product.name }}"
          [src]="item.product.imageUrl"
          alt="{{ item.product.name }}"
          class="item-image"
        />
        <span class="item-name">
          {{
            (item.product.name | slice : 0 : 6) +
              (item.product.name.length > 6 ? "..." : "")
          }}
        </span>
        <span class="item-quantity">x{{ item.quantity }}</span>
        <span class="item-price">${{ item.product.price }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="totalPrice$ | async as totalPrice">
      <div class="total">Total Price: ${{ totalPrice }}</div>
    </ng-container>

    <div class="checkout">
      <button class="checkout-btn" routerLink="order-checkout">
        Finalizar Compra
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="!(totalItems$ | async)">
    <div class="empty">Nenhum item no carrinho</div>
  </ng-container>
</div>
